### C files
# prerequisites
*.d

# object files
*.o
*.ko
*.obj
*.elf

# linker output
*.ilk
*.map
*.exp

# precompiled headers
*.gch
*.pch

# libraries
*.lib
*.a
*.la
*.lo

# shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# debug files
*.dSYM/
*.su
*.idb
*.pdb

# kernel module compile results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio files
[Dd]ebug/
[Dd]ebug.DLL/
[R]elease/
[Rr]elease.DLL/
*.user
*.aps
.vs

# Clangd LSP
.cache
compile_commands.json

# build folder
[Bb]uild

# Android
*apk*
android.*

### CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
installs

### VSCode files
.vscode

# Doxygen generated documentation (exception made for architecture.png)
docs/*
!docs/architecture.png

# Doxygen warnings file
doxygen_warnings.txt

# PlantUML .jar file
plantuml-*.jar